<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bizcalendar</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="/common/Common.html::header"></div>
<br>
<div class="container-fluid">
	<div class="text-center font-weight-bold calendartoptitle">Biz Refine</div>
	<div class="text-center calendartopday" th:text="${title}"></div>
	<div class="calendartopwidth">
		<div class="calendartopcontainer">
			<div id="contents">
				<form action="#" th:action="@{/login}" th:object="${user}" method=POST>
					<input type="text" th:field="*{userEmail}" class="calendartopmailaddress" placeholder="mail address"/>
					<br>
					<input type="password" th:field="*{userPass}" class="calendartoppassword" placeholder="Password"/>
					<br>
					<input type="submit" class="btn btn-outline-success my-2 my-sm-0 calendartopbutton"  value="Log&nbsp;&nbsp;in" />
				</form>
				<span th:text="${message}"></span>
			</div>
		</div>
	</div>
</div>
</body>
</html>
